@import "tailwindcss";


body{
	position:fixed;
}



/*#search{
	margin-top:40vh;
}*/

.card{
	position: relative;
	display:flex;
}


.card:hover img{
	opacity: 1;
}


#search{
	position:relative;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

#dropdown{
	position:absolute;
	width: 20vw;
	left: 40vw;
	z-index: 1;
	background-color: white;
}

.dropdown-item{
	border: 2px dotted black;
	margin: 2px;
	font-size: calc(4px + .5vw);
}

.dropdown-item:hover{
	background-color: lightcoral;
}

#search-input{
	width: 20vw;
	height: 5vh;
	border: 2px solid gray;
	text-align: center;
	color: gray;
	display: block;
	margin-left: 40vw;
}

/*change based on input color*/

#results{
	display:inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-width: 50vw;
	margin-left: 5vw;
}

.toggle{
	position:fixed;
	right:0%;
}

#results-image{
	opacity: .7;
	margin: 10px;
	width: 12vw;
}

#results-image:hover{
	opacity: .7;
}

#results-image-color {
	font-size: calc(4px + .5vw);
	position: absolute;
  	top: 10%;
}

.results-image-click {
	position: absolute;
	width: fit-content;
	border-radius: 10px;
  	top: 45%;
  	right: 50%;
  	opacity: .5;
}

#card:hover #results-image-click{
	display: inline;
	opacity: 1;
}